body {
  background-color: #57575b;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Great Vibes', cursive;
  margin: 0;
}

.inpBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnSearch {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  border-radius: 15px;
  border: solid 3px;
  background-color: #E6E5A3;
  width: 80%;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 110px;
  margin: 0;
}

.animImg {
  display: flex;
  justify-content: flex-end;
}


.text-typing {
    font-size: 44px;
    white-space:nowrap;
    overflow:hidden;
    animation-duration: 5s;
    animation-name: slidein;
    font-family: 'Great Vibes', cursive;
    padding: 10px;
    color: black;
}

@keyframes slidein{
   from { 
    margin-left: 5%;
    width: 500%;
   }

   to {
    margin-left: 0%;
    width: 100%;
  }
}



  @media all and (max-width: 1300px) {
    .btnSearch {
      font-size: 30px;
    }
    
    .text-typing {
      font-size: 44px;
  }
    
    h1 {
      font-size: 110px;
    }
  }


  @media all and (max-width: 1100px) {
    .btnSearch {
      font-size: 30px;
    }
    
    .text-typing {
      font-size: 44px;
  }
    
    h1 {
      font-size: 110px;
    }

  }


  @media all and (max-width: 1000px) {
    .btnSearch {
      font-size: 30px;
    }
    
    .text-typing {
      font-size: 42px;
  }
    
    h1 {
      font-size: 100px;
    }

  }


  @media all and (max-width: 900px) {
    .btnSearch {
      font-size: 28px;
    }
    
    .text-typing {
      font-size: 42px;
  }
    
    h1 {
      font-size: 90px;
    }

    img {
      width: 300px;
    }
  }

  @media all and (max-width: 800px) {
    .btnSearch {
      font-size: 30px;
    }
    
    .text-typing {
      font-size: 40px;
  }
    
    h1 {
      font-size: 80px;
    }

    img {
      width: 300px;
    }
  }


  @media all and (max-width: 600px) {
    .btnSearch {
      font-size: 24px;
    }
    
    .text-typing {
      font-size: 28px;
  }
    
    h1 {
      font-size: 72px;
    }

    img {
      width: 250px;
    }

  }

  @media all and (max-width: 500px) {
    .btnSearch {
      font-size: 18px;
    }
    
    .text-typing {
      font-size: 24px;
  }
    
    h1 {
      font-size: 50px;
    }

    img {
      width: 250px;
    }

    }

  
  @media all and (max-width: 400px) {
    .btnSearch {
      font-size: 16px;
    }
    
    .text-typing {
      font-size: 24px;
  }
    
    h1 {
      font-size: 44px;
    }

    img {
      width: 250px;
    }

  }

  @media all and (max-width: 300px) {
    .btnSearch {
      font-size: 14px;
    }
    
    .text-typing {
      font-size: 16px;
  }
    
    h1 {
      font-size: 40px;
    }

    img {
      width: 200px;
    }

  }




